.home-container {
  display: flex;
  background: linear-gradient(
    to bottom,
    #f7f7f9,
    rgba(255, 255, 255, 1),
    white
  );
  height: 100vh;
  color: $dark-text-color;
  gap: "10px";

  main {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }
}
