.sidebar-container {
  background-color: $dark-blue-color;
  color: white;
  width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 35px;
  gap: 20px;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
  }

  div {
    align-self: center;
    h3,
    p {
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
      font-family: $spectral-font;
    }

    h3 {
      font-size: 24px;
    }
  }

  li {
    list-style: none;

    a {
      color: white;

      text-decoration: none;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        border-bottom: 1px solid white;
        transition: all 0.9s ease-in;
      }
    }
  }

  h5 {
    opacity: 0.7;
    font-family: $spectral-font;
    font-size: 11px;

    &:hover {
      opacity: 1;
    }
  }

  .sidebar-icons {
    display: flex;
    align-items: center;
    color: white;
    opacity: 1;
    font-size: 20px;

    li {
      height: 20px;
      font-size: 30px;
      border-radius: 8px;
    }
    a {
      opacity: 1;

      &:hover {
        border-bottom: none;
      }
    }
  }
}
