$dark-blue-color: #0f172a;
$dark-text-color: #3b3b3b;

$btn-width: 315px;
$btn-height: 56px;
$input-width: 325px;
$input-heigth: 51px;

$spectral-font: "Spectral", serif;

// Width
$max-screen-width: 375px;
