$background-color: #f4c27f;
$dark-text-color: black;

$lighter-gradient: #f4c27f;
$darker-gradient: #d8605b;

$btn-width: 315px;
$btn-height: 56px;
$input-width: 325px;
$input-heigth: 51px;

$spectral-font: "Spectral", serif;

// Width
$max-screen-width: 375px;
